---
title: The Myth of Should
video: wedding
video_width: 638
video_height: 360
title_line1: The
title_main: Myth of Should
keywords: relationships, marriage, dating, counseling, fights, struggle, blog, tim dikun
description: How we tend to make relationships harder than they need to be.
tweet: How we tend to make relationships harder than they need to be by @tdikun http://www.timdikun.com/journal/2014/04-myth-of-should/
---

.content
  %p.editors-note Editor's Note: I wrote this article almost a year ago. I never published it, probably because I didn't really feel qualified to talk about it. I just re-read it for the first time since I wrote it and realized that though I have a difficult time following my own advice, that doesn't make the words any less true. Please enjoy these musings with a grain of salt.

  %p.intro My one-year anniversary with my wife was last month. I've tried 6 different ways to write a sentence here that summarizes the year appropriately. I can't do it. Perhaps because I'm not really a writer, or perhaps because the english language isn't expansive enough to adequately express the gritty darkness and blissful joy that comes in marriage. Probably both.

  %p I am aware that a year isn't a very long time to be married. I am by no means an expert, but I do have a story to share and some things to say.

  %p Let's start with the story. I'll never forget the time Sarahbeth went to a bachelorette party with a bunch of her really good friends while we were just dating. At one point in the party, the ladies started sharing stories of recent relationships. One told the magical tale of her amazing new boyfriend who frequently gave her the warm & fuzzies and with whom she never argued. Another, experiencing less success in the relationship department, lamented how she couldn't seem to find a guy that fulfilled her sexually, emotionally AND spiritually. They all had one or two, but none had the trifecta.

  %p Sarahbeth was deeply impacted by these conversations. She heard these stories and asked herself: "Do I feel that way about Tim?" Afterwards, through the tears of doubt and anxiety she told me:

  %blockquote
    "I'm not head over heels for you. If I'm being honest, you kind of annoy me sometimes. Shouldn't this be easier?"

  %p It was then that I decided I hate the word should. So many of the messages we receive from our society fill our heads with the way things <em>should</em> be. Things should be easier. I should be happier. And when the reality doesn't match what we think should be, we run away or shut down.

  %p A pastor friend of mine recently wrote to a young man in an advice column suggesting that he should break up with his girlfriend of a year and a half. Why? Because things had gotten "rocky" between them as of late and they were considering seeing a counselor. His reasoning was that marriage is hard, but dating shouldn't be. If dating is hard, imagine how hard marriage will be.

  %p Now, please know that I respect this friend tremendously. I know that he loves both people and marriage and wants the best for everyone, but I disagree with his thinking. Marriage is going to be hard no matter what. How difficult your dating relationship is is by no means an indicator of how difficult your marriage will be. Especially if you've been at it for more than a year and the honeymoon phase is over. That said, I certainly don't think that getting married is the fix to a troubled dating relationship.

  -# %p I want to stress this point: Sarahbeth and I even went through marriage preparation classes before getting engaged. Kind of opposite of the way most couples do it, but we decided that it was important for us to have guided conversations about in-laws, kids, money, sex and the future before a ring was ever involved. After engagement, the cash starts flowing for wedding vendor deposits and we didn't want that to ever be a factor in whether or not we actually went through with the marriage, pending the difficult conversations to be had in that context.

  %p Honestly, I think the spirit behind all the 'shoulds' is probably good. With more and more couples getting divorced it seems that we're trying to ensure that we've found the mate with which we have the greatest chances of pulling off a successful relationship. But I think we're a little misguided in our application.

  %p Its not the ease of a relationship that we should be looking at when asking ourselves if we really think we can love this person for the rest of our life. It's not about the frequency of disagreements or disappointments, but how you treat each other in those moments. Can you both set aside your own agenda and meet the needs of the other, even at your own expense? Does he listen well and respond with compassion? Does she forgive easily and refuse to hold a grudge? These are the things that matter, and ironically, they're often things we need a counselor to learn how to do well.

  %p At the end of the day, the foundation of a marriage is not how well you get along. Couples that have a smooth and enjoyable dating relationship can get married under the false pretense that the <em>feelings of love</em> for their significant other is the foundation of their relationship. But what happens when those feelings inevitably fade after a year or ten? What is there to keep the relationship together? A shared hobby? Kids? If they're not willing to dig into conflict and lean into the relationship, even when they don't feel like it&mdash;especially when things aren't easy&mdash;they're doomed.

  %p And thats what got Sarahbeth and I through the bombardment of the shoulds. She was able to recognize that I was not, nor ever will be, her everything. That I will often annoy and disappoint her. But she still chose me. That's all we can really hope for, isn't it? That no matter what, the other will always stare deeply into my depravity and utter the phrase words: "I love you. I forgive you. I choose you. I'm not going anywhere."
