---
title: A Personal Look Behind The Fundamentals of Design
video: fod
video_width: 650
video_height: 366
title_line1: A Personal Look Behind The
title_main: Fundamentals of Design
keywords: code school, online learning, web design, graphic design, fundamentals, blog, tim dikun, behind the scenes
description: A personal look behind code school's fundamentals of design course.
tweet: A personal look behind the Fundamentals of Design @codeschool course by @tdikun http://www.timdikun.com/journal/2013/01-fundamentals-of-design
---

.content
  %p Last month, Code School launched its first design course, <a href="http://www.codeschool.com/courses/fundamentals-of-design" target="_blank">The Fundamentals of Design</a>. We sought to take the subjective realm of visual design and distill it down to some basic objective realities and teach them to a wide audience. I had the joy of being the one to write, teach and design all the content and challenges and it was the most difficult project that I've ever been a part of. I learned a lot through this process, and wanted to write some of it down.

  %h3 Workflow Adaptations
  %p Over the course of 6 months I went through intense phases of research, writing, preparing, presenting, designing, and more writing. For the first time in my career I traded in photoshop documents for word documents. I like to write, but it is not a strength of mine at all. It took a lot of determination on my part to grind it out, which seriously slowed the course development process. I should really do this more often&mdash;finding ways to be productive in new environments and struggling to master new tools can only make me more well rounded; able to adapt to any circumstance or challenge.

  %h3 Learning to Think Differently
  %p I started designing for the web in middle school, when my parents bought me an HTML book and I thought Flash was the coolest thing ever (motion tweens FTW). I loved it so much, I'd make websites for every personal passion and everyone who'd let me. That foundation was built upon by a really great mentor after high school who, for some reason, saw potential in me. He took me under his wing and taught me how to think about design, not just how to do it. By leaning into this and working hard, I was able to avoid massive art school debt. I wouldn't trade the years in my career thus far for anything, though it did make teaching the course particularily difficult. I had to figure out how to teach things that hadn't really been taught to me, things I'd learned through experience and example. In retrospect, I loved this. It's not often we challenge ourselves to think about the fundamentals other than the way in which we learned them. My framework for comprehending and utilizing the fundamentals of design grew significantly.

  %h3 Ego on the Line
  %p The amount of scrutiny that being on camera invites is daunting. I really had to struggle with a sense of inadequacy which I think is rooted in two things: First, the oppressive environment that is created when "web-celebs" use their platform to criticize or otherwise allow it to impact the way they treat people. To be honest, I spent most of the course development process afraid of launching it. I wasn't really afraid that I'd be made fun of for my appearance or speaking style. I was afraid of the potential criticism from someone in the web-celeb circle. I think it says something about that upper echelon of folks who think they're "inspiring" when someone on the outside is afraid to ship for fear of their response. If it wasn't for the constant encouragement of my peers, I would have quit the project really early in the process.

  %p Though I do think the current environment in our industry can be oppresive, I have to own some of the blame. There is a deep brokenness within myself that desperately desires affirmation. Often I manipulate the circumstances in my life in order to get as much of it as possible. Therefore, putting something out there with my name on it for tens of thousands of users and the whole internet to see is incredibly vulnerable: I run the risk of not receiving the affirmation I desire, which contributed to my fears in launching the course. I work really hard at maintaining a proper work-life balance that enables me to fail at work and still be okay. Remembering that my identity is not found in my career is the only thing that allowed me joy when the course shipped.

  %p All things said, putting together the <a href="http://www.codeschool.com/courses/fundamentals-of-design" target="_blank">The Fundamentals of Design</a> was super hard but super rewarding. I learned a lot, and while I swore up and down that I would never write another Code School course again, I look forward to the lessons I'll learn the next time around.
