---
title: My Crossfit Year in Review
video: cf
video_width: 638
video_height: 360
title_line1: My Crossfit
title_main: Year in Review
keywords: crossfit, year, fitness, rx, wod, exercise, blog, tim dikun
description: A former long-distance runner looks back over the past year of Crossfit.
tweet: Stories & insights on Crossfit by former long-distance runner @tdikun http://www.timdikun.com/journal/2013/02-crossfit-year-in-review/
---

.content
  %p.editors-note
    <strong>Editors note:</strong> Even though I will express my opinion on the controversy regarding the "danger" of CrossFit, I am in no way interested in creating or contributing to a debate. This is simply an avenue for me to process and share my story. Thanks!

  %p.intro I moved to Orlando in fall of 2007&mdash;away from my hometown of Seattle and the mountains that kept me somewhat active. I knew I had to do something to avoid obesity, so I decided to pick up running. I chose running because its only requirements were a pair of shoes and the ability to consistently put one foot in front of the other. On the other hand, walking into my local YMCA was completely overwhelming. I never knew where to start. Which machine do I use? In what order? How much weight? How many times? Am I doing this right?

  %p So I ran&mdash;a lot&mdash;and I loved it. I've completed multiple full marathons, half marathons and more 5ks than I can count. I first bonded with my wife through running. I got to help a whole group of coworkers train for some of their first distance races. I volunteered as a track coach at a local high school. I had a long-time running partner who helped me through a particularly tough season in my life. Running taught me a lot about perserverance, character and fitness.

  %p Unfortunately, racking up all that mileage on a body that had never really established any core strength lead to a complete breakdown. After my last marathon in 2011, I couldn't really run anymore. My legs hurt, my back hurt, my feet hurt. Everything hurt. No major medical injuries; I just wasn't fit enough to run like that anymore. So I completely stopped running (and consequently working out) for over a year.

.aside.one
  %ul
    %li
      = image_tag "../blog/hspu.gif"
      %p Hand Stand Pushup
    %li.new
      "Box" is the term CrossFit uses for local gym affiliates
.content

  %p After a while I got engaged and knew that I had to get in shape if I was going to fit into my dress. I tried to run again but quickly found out that time doesn't heal all wounds. As a long distance runner I had always scoffed at CrossFit–they were weird folk who played with tires and assaulted my facebook feed with pictures of bleeding hands. However, watching my future father-in-law do hand-stand pushups in his backyard put things into perspective. How is a man in his 50's able to do <em>that</em>? Wait, mother-in-law can do that too? Crap.

  %p So, I signed up for CrossFit at my <a href="http://www.southorlandocrossfit.com" target="_blank">local box</a>. I got fit for my wedding and then just kept going&mdash;I had tasted of the CrossFit kool-aid.

  %h3 The Results: One Year Later

  = image_tag "../blog/results.png"
  %p.caption Before & After, October 2012 & October 2013.

  %p Some might say that the difference in my physique after a full year is a bit underwhelming. I don't have a six-pack or bulging veins and my body fat percentage is still double digits. Nevertheless, I'm super proud of the progress I've made. Crossfit isn't about looking good on the beach, its about feeling good and functioning well&mdash;a side effect of which can be looking good in a swimsuit. My fitness gains aren't measured in body fat percentage, they're measured in attitude, skills and PR's every time I step foot in the box.

.aside.two
  %ul
    %li
      = image_tag "../blog/du.gif"
      %p Double Under
    %li.new
      = image_tag "../blog/ohs.gif"
      %p Overhead Squat
    %li.new
      PR stands for personal record, doing more than you've done before.
    %li.new
      WOD stands for workout of the day, the bulk of CrossFit training.
    %li.new
      RX stands for "as prescribed", doing the WOD to a certain standard.

.content

  %p One year ago, I couldn't do a pull-up, double-under or hand-stand pushup. I'd never lifted weights before in my life and so just moving the bar was a challenge. My muscles were so tight from all that running that I literally could not do an overhead squat–no matter what the weight. Now, I can do 40lbs. weighted pullups for reps, 75+ consecutive double unders, 3 reps of overhead squats at 115 lbs and just the other day I nailed my first hand-stand pushup. I still finish most WOD's in near-last place, and rarely do I RX them, but I finish them and know that I'm stronger for the next time. These are the things that matter–not my six pack.

  %p The point is this: I feel good, rather, I feel fantastic. So great that I just signed up for the ragnar relay with my wife's co-workers. That's right, in February I will be tackling a 200 mile relay race. My body has loosened up and my core has gotten strong enough to be able to run without pain. CrossFit fixed what running broke–freeing me up to run again, in a healthy way. We'll be training the CrossFit way: low mileage, high intensity with an emphasis on maintaing technique and core strength. We'll see how it goes, but I'm stoked that Crossfit has given me the base strength to be able to return to my first love.

  %h3 Two Observations

  %p <strong>1. Regarding Injury:</strong> Crossfit, <em>like any other sport</em> or fitness routine, naturally lends itself to injury. The "any other sport" part is important. My wife slipped a disc playing soccer in high school, my roommate broke his wrist playing ultimate frisbee and my buddy blew out his ACL playing basketball at the Y. If you're not careful, if you do stupid things, if you let your competetive drive silence your common sense you will get hurt. That said, just because a gym has "CrossFit" in the name does not mean they've got a quality training staff. Take the time to research the trainers you're entrusting with your health. They should have some sort of experience or credentials other than a CrossFit Level 1 certification. Though if they don't, that's okay, just remember to know your own limits and don't take everything they say as sacred. Remember, I've been doing this 3-6x a week consistently for over a year and I have less chronic fitness related injuries than I did before I started.

  %p <strong>2. Regarding Diversity:</strong> I've read a couple of articles criticizing CrossFit for not being diverse–this is true, but not in the way you'd expect. I have participated in many classes in which I am the only male, and I don't think I've ever been to one that was ethnically homogenous. However, from a socioeconomic perspective, there is a massive disparity. My wife and I pay over $300/month for our membership, which naturally precludes anyone who doesn't have a lot of disposable income. This is why I love to see programs like <a href="http://www.stevesclub.org/" target="_blank">Steve's Club</a> seeking to leverage CrossFit to reach at-risk youth. I think there should be more of these programs out there, and would love to see some local boxes start some scholarship/mentoring programs.

  %p While we're on the subject of diversity, it's worth mentioning how CrossFit has challenged me in a completely unexpected way. CrossFit's culture is heavily steeped in the military. As a struggling pacifist and moderate liberal, I have always had difficulty respecting the military and&mdash;by extension&mdash;policemen. It's not that I don't think the military or the police should exist, but the stereotypical bro-culture of trigger-happy conservatives has always rubbed me the wrong way; I've never touched a gun and I honestly don't get the draw. That said, being around a lot of people who are (or used to be) in the military or the police force and participating in hero workouts named after real people who've died in the line of duty has given me a new perspective. The military and police force are no longer ideological entities for me to be morally opposed to; they're real people that I do work next to&mdash;and in honor of&mdash;at the gym.


.content
  %p It's not often that you hear about a liberal admitting to growing in tolerance, but often we need it more than anyone. While I think it's something I'll always wrestle with, CrossFit (along with my extremely intelligent, conservatively-oriented wife) has contributed to a shift in maturity for me  that has resulted in a growing love for those on the opposite end of the political spectrum; those people who aren't like me. Diversity win.

  %h3 TL;DR

  %p As a long-distance runner, CrossFit was a program I looked down upon as being full of sociopaths who enjoy throwing up. In spite of that, I joined up for a pre-wedding fitness regimen. It ultimately changed the way I approach fitness altogether and challenged stereotypes I've carried for a long time. I'll never be the same.

  %p.credits Credits: Video assets used in the header are from <a href="http://www.youtube.com/watch?v=tzD9BkXGJ1M" target="_blank">this video</a>. The movement gifs were created from assets found <a href="http://www.youtube.com/watch?v=Oo-IoEaDH80" target="_blank">here</a>, <a href="http://www.youtube.com/watch?v=gXLKwneEreo " target="_blank">here</a>, and <a href="http://www.youtube.com/watch?v=RxsfWGJ_H_c" target="_blank">here</a>. Special thanks to Trevor Palmer and Christian Carillo (among others) at <a href="http://www.southorlandocrossfit.com" target="_blank">South Orlando Crossfit</a> for helping me reach my goals over the past year. Also special thanks to Casey Jenks at <a href="http://crossfitkingspoint.com/" target="_blank">CrossFit Kings Point</a> for  encouragement and advice.



//credits
//http://www.youtube.com/watch?v=gXLKwneEreo (DU)
//http://www.youtube.com/watch?v=Oo-IoEaDH80 (HSPU)
//http://www.youtube.com/watch?v=RxsfWGJ_H_c (OHS)
