---
title: An Epistemological Heart to Heart
video: epist
video_width: 638
video_height: 360
title_line1: An Epistemological
title_main: Heart to Heart
keywords: science, knowledge, epistemology, religion, atheism, theism, ken ham, bill nye, evolution, blog, tim dikun
description: Thoughts on balancing the sources of knowledge and why science isn't a trump card for religion.
tweet: Thoughts on balancing the sources of knowledge by @tdikun http://www.timdikun.com/journal/2013/03-epistemological-heart-to-heart/
---

.content
  %p.editors-note Editor's Note: I am a Christian, and I write from that perspective. Please know that this is not a proselytizing effort. I really am just trying to express something I've been thinking about a lot lately. I am honored for any time you choose to spend with my words.

  %p.intro I was having dinner with some friends a few weeks ago when the conversation turned to religion. Two Christians and two atheists sitting across the table from one another. We were talking specifically about the Jehovah's Witness cult and I made reference to something being illogical. One atheist turned to another and murmured something to the effect of "Isn't the whole religion thing illogical altogether?" and then kind of shrugged his shoulders and laughed, as if we were simple-minded fools that defy reason with our silly notions of a higher power.

  %p Obviously this exchange bothered me, but it's not that I was offended or thought it was rude. (In fact, if you're one of those friends and you're reading this now please know that I'm not upset with you at all and I hope you don't mind me reflecting on that evening so publicly) What bothers me is that this line of thinking&mdash;that science has already disproven religion, or even that science and religion are at odds&mdash;has such widespread adoption.

  %p Please know that this is not something I write flippantly. I've been wrestling with this for a long time and actually originally published this piece 3 months ago. I just never felt confident enough to actually share it with people. Tonight, I have re-written it (for perhaps the 6th time since first publishing) in the wake of the Bill Nye and Ken Ham <a href="http://www.youtube.com/watch?v=z6kgvhG3AkI">debates on creation</a>. I've seen all the social media posts of many friends about the conflicts between religion and science and how ridiculous Ken Ham is. Maybe so, truth be told I haven't watched the debate yet, and I probably won't. It isn't about the actual debate for me. It is the rhetoric surrounding it that gets under my skin. I'm not interested in mud slinging or a heated debate, so please be gracious as I attempt to flush this out.

  %p First of all, we have to define what we're even talking about. At the core of it is epistemology, the study of knowledge, which deals philosophically with the question: "How do we know anything?" The general consensus in our society is that knowledge comes from science, or the systematic study of the natural world through observation and experiment.

  %p I'm not going to argue that science shouldn't be <em>a</em> source of knowledge, but what I am concerned with is that somewhere along the way, we made it <em>the</em> source of knowledge. Perhaps in order to compensate for some Copernican misunderstandings, we've thrown out special revelation&mdash;the idea that knowledge can be attained through supernatural means, such as miracles, prayer or the scriptures&mdash;as legitimate. Conversations amongst friends and acquaintances regarding the origins of life, time and the existence of God operate with the underlying assumption that special revelation is unable to offer any sort of legitimate explanation for anything. Christians themselves even approach biblical ideas and concepts with the perspective that if they can't be proven by research or experiment then they can't be real.

  %p I think we, as a society, are missing something of value here when we view science as supreme and special revelation as meritless. I mean, isn't it true that any validity we give science is assigned by a personal philosophical-epistemological preference rather than any form of legitimate superiority? I've been thinking a lot about the following quote by the theologian R.C. Sproul:

  %blockquote
    "the grand presupposition of scientific inquiry [is] that the universe we are seeking to know is coherent. There is an implied deep and profound interconnectedness of all things. The alternative ... is chaos. If the universe is at root chaotic, then the whole scientific enterprise collapses. If the universe is chaotic and disconnected, then no knowledge is possible at all. Even discreet bits of atomic data cannot be understood within the framework of utter chaos, so the presupposition of a coherent, rational order of all things is the screaming presupposition of scientists."
    .caption  R.C. Sproul&mdash;<a href="http://www.ligonier.org/learn/articles/all-truth-gods-truth-sproul/" target="_blank">All Truth is God's Truth</a>

  %p Now, Sproul isn't arguing for a chaotic universe here. As a theologian he&mdash;along with Christians globally&mdash;believe in a single, unifying thread that ties the universe together: God. Sproul is saying that science also believes in a similar coherent thread, but it doesn't have a name. It lives just beneath the surface of the scientific method and is rarely acknowledged, probably because no one can "prove" that the world is coherent. <strong>Any attempt to make sense of the world around us assumes that it is even possible to make sense of the world around us.</strong> If you really, honestly, slow down to contemplate that idea, it should kind of trip you out.

  %p Now, I'm not trying to discredit science nor am I arguing that special revelation trumps it in any perceived conflict. Again, what I am saying is that any weight given to science as <em>the</em> source of knowledge is ultimately an epistemological preference. The problem with this goes beyond people blindly choosing one or the other&mdash;the problem is that you'd never know the choice even existed, based upon the belligerent rhetoric coming from the secular science community. The religious are looked down upon as simple-minded or ignorant. Richard Dawkins, one of the champions of the neo-atheist movement even goes so far as to state that Christians need to be <a href="https://www.youtube.com/watch?v=H9UKTuuTHEg" target="_blank">ridiculed with contempt</a>.

  %p To view the issue from another angle, Francis Spufford writes in his new book of the logical fallacy committed by many who discredit the bible on the grounds that it conflicts with science:

  %blockquote
    "You can't just say, this story contains physical impossibilities (miracles, resurrection from the dead) and thus a priori must be counted among the impossible things a rational person shouldn't believe before breakfast. That is to assume the untruth of the story's own contention that there is a maker of nature who, this once, was able to alter nature's normal operations. In other words, the argument from impossibility depends on a faith position adopted beforehand, which rather reduces its logical grip on the world."
    .caption Francis Spufford&mdash;<a href="http://www.amazon.com/Unapologetic-Everything-Christianity-Surprising-Emotional/dp/0062300458" target="_blank">Unapologetic: Why, Despite Everything, Christianity Can Still Make Surprising Emotional Sense</a>

  %p Listen, it's fine if you don't believe, just don't pretend like you have some sort of special claim to truth that us hill-folk don't have. Those that simply throw out special revelation or whole-heartedly discredit religion on "logical" or "scientific" grounds are performing the very same act of self-delusion they're projecting onto the believer.

  %p So far we've only talked about things in a 'one or the other' context&mdash;the choice between science or special revelation&mdash;and its very common to think (again, even among Christians themselves) that the two are incompatible. I don't think that's true. They serve two different purposes. Science, by its very nature, cannot attribute meaning. If it begins to do so, then it ceases to be science. Similarily, special revelation does not seek to tell us how things objectively came to be. Just that they do and did and will. Spufford explains:

  %blockquote
    "science is a special exercise in perceiving the world without metaphor, and that, powerful though it is, doesn't function as a guide to those very large aspects of experience that can't be perceived except through metaphor."
    .caption Francis Spufford&mdash;<a href="http://www.amazon.com/Unapologetic-Everything-Christianity-Surprising-Emotional/dp/0062300458" target="_blank">Unapologetic: Why, Despite Everything, Christianity Can Still Make Surprising Emotional Sense</a>

  %p Take, for instance, the creation-evolution discussion. These two things are really not at odds. One can say with genuine, intelligible conviction both that God created man and man evolved from primordial goo. Genesis 1 is then read as it was intended. Ancient poetry explaining of the meaning of man–that though we came from the dust, we were made for much more than this. It is not a scientific document from which to derive the age of the earth. Pitting Genesis against On the Origin of the Species is literally comparing apples and oranges. They deal with the same subject, but not in the same way or even for the same purpose.

  %p Alvin Plantinga, a modern analytical philosopher, discusses how evolution and theism are entirely compatible much better than I ever could:

  %blockquote
    "The scientific theory of evolution just as such is entirely compatible with the thought that God has guided and orchestrated the course of evolution, planned and directed it, in such a way as to achieve the ends he intends. Perhaps he causes the right mutations to arise at the right time; perhaps he preserves certain populations from extinction; perhaps he is active in many other ways. On the one hand, therefore, we have the scientific theory, and on the other, there is the claim that the course of evolution is not directed or guided or orchestrated by anyone; it displays no teleology; it is blind and unforseeing; as Dawkins says, it has no aim or goal in its mind's eye, mainly because it has no mind's eye.
    .space
    This claim, however, despite its strident proclamation, is no part of the scientific theory as such; it is instead a metaphysical or theological add-on. On the one hand there is the scientific theory; on the other, the metaphysical add-on, according to which the process is unguided. The first is part of current science, and deserves the respect properly accorded to a pillar of science; but the first is entirely compatible with theism. The second supports naturalism, all right, but is not part of science, and does not deserve the respect properly accorded science. And the confusion of the two&mdash;confusing the scientific theory with the result of annexing that add-on to it, confusing evolution as such with unguided evolution&mdash;deserves not respect, but disdain."
    .caption Alvin Plantiga&mdash;<a href="http://www.amazon.com/Where-Conflict-Really-Lies-Naturalism/dp/0199812098" target="_blank">Where the Conflict Really Lies: Science, Religion, and Naturalism</a>

  %p Plantinga goes even further in his book. He asserts not only that evolution is compatible with theism, but it actually isn't compatible with naturalism (atheism). Fascinating stuff, but beyond the scope of this post.

  %p Bottom line: In our sound-bite driven society it's all to easy for us to polarize the science and religion issue. Create a false dichotomy and choose one or the other. Ken Ham vs. Bill Nye. Creation vs. Evolution. Special Revelation vs. Science. Our society is full of screaming voices on either side of the fence that want us to choose one or the other. Most are choosing science, thinking that it's inherently better than special revelation, but it's not. It's a preferential choice that doesn't even need to be made. The answer to the question is 'both/and' and those that insist it's an 'either/or' aren't actually wrestling with the deeper epistemelogical questions.

  %p.credits Credits: Video assets used in the header are from <a href="http://www.youtube.com/watch?v=GdFRB7D53Do" target="_blank">this video</a>.
