.row
  .cell
    .well
      .footer
        %p © Tim Dikun 2015
        %ul
          %li
            %a{:href => "#work"} Work
          %li
            %a{:href => "#writing"} Writing
          %li
            %a{:href => "#speaking"} Speaking

