.top-border
  .row.row--a
    .well.well--l
      .cell
        .nav
          %ul
            %li
              %a{:href => "#work"} Work
            %li
              %a{:href => "#writing"} Writing
            %li
              %a{:href => "#speaking"} Speaking
