.other-articles{ :class => "#{page}" }
  %a.article-wrapper.journal_2013_01-fundamentals-of-design{ :href => "/journal/2013/01-fundamentals-of-design" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/fod.jpg')" }
      .date The Making of The
      .title Fundamentals of Design

  %a.article-wrapper.journal_2013_02-crossfit-year-in-review{ :href => "/journal/2013/02-crossfit-year-in-review" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/cf.jpg')" }
      .date My Crossfit
      .title Year In Review

  %a.article-wrapper.journal_2013_03-epistemological-heart-to-heart{ :href => "/journal/2013/03-epistemological-heart-to-heart" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/epist.jpg')" }
      .date An Epistemological
      .title Heart to Heart

  %a.article-wrapper.journal_2014_04-myth-of-should{ :href => "/journal/2014/04-myth-of-should" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/wedding.jpg')" }
      .date The
      .title Myth of Should


