.row
  .well.well--xl
    .cell.c-center
      .tag 2012 - 2014
      .line
      %h1 Product Design & Direction
      .line
      %p.desc
        The recent works of Tim Dikun, currently crafting compelling interfaces at <a href="http://madewithenvy.com" target="_blank"">Envy</a> in Orlando, Fl.
      .line
      .contact
        %ul
          %li
            %a{ :href => "mailto:tdikun@gmail.com"} tdikun@gmail.com
          %li
            %a.smaller{ :href => "http://twitter.com/tdikun"} @tdikun
