%ul
  %li
    Other Works:
  %li{is_page_active('/')}
    =link_to 'Booz Allen', '/#work', :class => 'w-bah'
  %li{is_page_active('/typing/')}
    =link_to 'Typing.com', '/typing#work', :class => 'w-typing'
  %li{is_page_active('/cisco/')}
    =link_to 'Cisco', '/cisco#work', :class => 'w-cisco'
  %li{is_page_active('/code-school/')}
    =link_to 'Code School', '/code-school#work', :class => 'w-cs'
  //%li{is_page_active('/centrelearn/')}
  //  =link_to 'CentreLearn', '/centrelearn#work', :class => 'w-cl'
