%ul
  %li
    Other Works:
  %li{is_page_active('/')}
    =link_to 'Booz Allen', '/#work'
  %li{is_page_active('/typing/')}
    =link_to 'Typing.com', '/typing#work'
  %li{is_page_active('/cisco/')}
    =link_to 'Cisco', '/cisco#work'
  %li{is_page_active('/code-school/')}
    =link_to 'Code School', '/code-school#work'
  //%li{is_page_active('/centrelearn/')}
  //  =link_to 'CentreLearn', '/centrelearn#work'
