%a{:name => 'writing'}
.row
  .well.well--xl
    .cell
      .writing
        %h2 Writing
        %p.c-18 Sometimes I write for myself, which may or may not relate to design and where my opinions are my own. Also sometimes I write for my job.

        = partial 'assets/partials/writing-articles'

