.writing-articles
  %a.article-wrapper{ :href => "http://madewithenvy.com/ecosystem/articles/2015/prototyping-with-invision/" }
    .article-container
      .img{ :style => "background-image:url('/assets/images/writing-invision.jpg')" }
      .date Envy
      .title Prototyping with Invision

  %a.article-wrapper{ :href => "/journal/2014/04-myth-of-should" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/wedding.jpg')" }
      .date Personal
      .title The Myth of Should

  %a.article-wrapper{ :href => "/journal/2013/03-epistemological-heart-to-heart" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/epist.jpg')" }
      .date Personal
      .title An Epistemological Heart to Heart

  %a.article-wrapper{ :href => "/journal/2013/02-crossfit-year-in-review" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/cf.jpg')" }
      .date Personal
      .title My Crossfit Year In Review

  %a.article-wrapper{ :href => "/journal/2013/01-fundamentals-of-design" }
    .article-container
      .img{ :style => "background-image:url('/assets/blog/fod.jpg')" }
      .date Envy
      .title The Making of the Fundamentals of Design

  %a.article-wrapper{ :href => "https://www.codeschool.com/blog/2012/09/04/code-school-in-africa/" }
    .article-container
      .img{ :style => "background-image:url('/assets/images/writing-cs-africa.jpg')" }
      .date Envy
      .title Code School Africa

