.case-study
  %h2 CentreLearn
  .tag UX/UI Design
  %p
    <a href="http://www.centrelearnsolutions.com/" target="_blank">CentreLearn</a> is an educational platform used by thousands of firemen and EMT's nationwide as well as the National Guard to handle continuing education and certification compliance. It was a unique challenge to design a system that effectively communicated such critical information in a no-frills way that allowed these men and women to continue to protect the public.
  = partial 'assets/partials/work-nav'
.media
  .card.active{'data-img' => 'w-cl'}
  .card{'data-img' => 'w-cl'}

.secondary
  = partial 'assets/partials/work-nav'
