.case-study
  %h2 Cisco
  .tag UX/UI Design, Art Direction
  %p
    Originally designed as a way to deliver online training for <a href="https://learningnetwork.cisco.com/community/connections/cisco_e-learning?utm_source=cdc&utm_medium=lnk&utm_campaign=cdc-inbnd" target="_blank">Cisco's ICND1</a> certification program, this platform has since expanded to host a number of different courses for different departments within Cisco. It delivers content in a gamified system that offers students the opportunity to practice interfacing with live networked devices, all from the comforts of the browser.
  = partial 'assets/partials/work-nav'
.media
  .card.active{'data-img' => 'w-cisco'}
  .card{'data-img' => 'w-cisco'}
  .card{'data-img' => 'w-cisco'}

.secondary
  = partial 'assets/partials/work-nav'
