.case-study
  %h2 Code School
  .tag UX/UI Design, Illustration
  %p
    Before being acquired by PluralSight in 2014, <a href="http://codeschool.com" target="_blank">Code School</a> was a bootstrapped side project at Envy Labs. Over the span of a few years I had the opportunity to write and teach a course, the <a href="http://design.codeschool.com" target="_blank">Fundamentals of Design</a>, as well as design the interface for a number of courses including <a href="http://coffeescript.codeschool.com/" target="_blank">Coffee Script</a> and <a href="http://try.jquery.com/" target="_blank">Try jQuery</a>.
  = partial 'assets/partials/work-nav'
.media
  .card.active{'data-img' => 'w-cs'}
  .card{'data-img' => 'w-cs'}
  .card{'data-img' => 'w-cs'}
  .card{'data-img' => 'w-cs'}

.secondary
  = partial 'assets/partials/work-nav'
