.case-study
  %h2 Booz Allen Hamilton
  .tag UX/UI Design, Illustration, Art Direction
  %p
    Originally meant to just be an internal tool, <a href="http://exploredatascience.com" target="_blank">Explore Data Science</a> is a technical training platform that teaches statistics in the context of python programming. The platform side-steps traditional training interfaces by creating an immersive space exploration experience. Booz Allen loved it so much that it fundamentally changed how they do business.
  = partial 'assets/partials/work-nav'
.media
  .card.active{'data-img' => 'w-bah'}
  .card{'data-img' => 'w-bah'}
  .card{'data-img' => 'w-bah'}
  .card{'data-img' => 'w-bah'}
.secondary
  = partial 'assets/partials/work-nav'


