.case-study
  %h2 Typing.com
  .tag UX/UI Design, Illustration, Art Direction
  %p
    A free educational platform for kids, <a href="http://typing.com" target="_blank">Typing.com</a> takes outdated learn-to-type software and modernizes it in the browser. Typing.com has been around for over a decade and is the number one website for typing education. The redesign seeks to create a more cohesive, modernized experience for students and teachers both that makes typing fun and easy to learn.
  = partial 'assets/partials/work-nav'
.media
  .card.active{'data-img' => 'w-typing'}
  .card{'data-img' => 'w-typing'}
  .card{'data-img' => 'w-typing'}
  .card{'data-img' => 'w-typing'}

.secondary
  = partial 'assets/partials/work-nav'
